

/* ==========================================================================
   Author's custom styles
   ========================================================================== */







/*
 First Background Picture */

.smarter-way{
	background-color: #356598;
	background-image: url(../images/top-background.png);
	height:400px;
}

.smarter-way h1{
	text-align: center;
	margin-top: 20%;
}



/*Better returns*/
.better-returns{
	background-color: #F5F5F5;
}

.catered-advice{
	margin-top: 20px;

}







/*Safe with Betterment*/

.people img{
	border-radius: 50%;
	max-width: 100%;
    height: auto;
}


















































/*FOOTER SOCIAL MEDIA */
.social-media li{
	list-style-type: none;
	text-align: inline;
	display: inline
}




/*APP STORE*/

.app-store li{
	list-style-type: none;
	text-align: inline;
	display: inline
}
