

/* ==========================================================================
   Author's custom styles
   ========================================================================== */







/*
 First Background Picture */

.smarter-way{
	background-color: #356598;
	background-image: url(../images/top-background.png);
	height:400px;
}

.smarter-way h1{
	text-align: center;
	margin-top: 20%;
}



/*Better returns*/
.better-returns{
	background-color: #F5F5F5;
}

.catered-advice{
	margin-top: 20px;

}



















/*Safe with Betterment*/

.safe-color{
	background-color: #F5F5F5;


}

.people img{
	border-radius: 50%;
	max-width: 100%;
    height: auto;
}



/*Sign Up*/

.sign-up{
	margin-bottom: 15%;
	margin-top: 15%;

}

.sign-up h1{
	text-align: center;
	color:#00008B;
	font-weight: lighter;

}

.sign-up button {
	margin-left: 30em;
	width:150px;
	background-color: #DA5621;
	margin-top: 3em;

}



/*Questions? Live Chat*/

.bottom-section{
	background-color: #0D3866;
	color:#DCDCDC;
}


.support{
	background-color: #0C325B;
	padding-top: 2em;


}




/*Footer About US*/

.about-footer{
	margin-top: 2em;
}

.about-footer h5{
	text-align: center;


}



.about-footer li{
	list-style-type: none;
	text-decoration: none;
	color:#DCDCDC;

}







/*Footer Social Media*/

.footer-socialmedia{
	margin-top: 8%;
	margin-bottom: 8%;


}

.back-to-top{
	margin-top: 2em;
}





/*FOOTER SMALL PRINT*/
.small-print p{
	font-size: 11px;



}




/*APP-STORE*/
.app-section{
	background-color: #0D3866;

}

.app-store{
	text-align: center;

}


























/*Questions?/Live Chat*/


.email{
	font-size: 10px;
}






/*FOOTER ABOUT US*/
.about-footer{
	margin-left: 13%;
}






/*FOOTER SOCIAL MEDIA */

.footer-socialmedia{
	margin-left: 20%;
}


.social-media{
	margin-left: -43%;
}

.social-media li{
	list-style-type: none;
	text-align: inline;
	display: inline
}

.holdings{
	margin-right: 20px;
}

.back-to-top{
	margin-left: -2%;

}

/*FOOTER SMALL PRINT*/

.small-print{
	margin-left: 13%;
}




/*APP STORE*/

.app-store li{
	list-style-type: none;
	text-align: inline;
	display: inline
}
