

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*Navigation*/

.navbar{
	height: 70px;
	background-color: #0D3866;

}

.logo{
	position: relative;
	padding-top: 0;
}


/*.why {
	color:#87CEEB;
}*/

.why-menu a{
	color:white;
	text-decoration: none;

}







/*
 First Background Picture */

.smarter-way{
	background-color: #356598;
	background-image: url(../images/top-background.png);
	height:400px;
}

.smarter-way h1{
	text-align: center;
	margin-top: 20%;
	color:white;
	font-weight: 200;
	font-size: 55px;
}






/*Better returns*/
.better-returns{
	background-color: #F5F5F5;
}

.better-returns img{
	margin-left: 13em;


}

.better-returns h3{
	font-weight: lighter;
	color: #517091;
	font-size: 45px;

}

.better-returns h4{
	font-weight: 200;
	color: #517091;
	font-size: 20px;



}


.better-returns p{
	padding-top: 10px;
	padding-bottom: 10px;
	color:#808080;
	font-size: 18px;
	font-weight: 200;
}

.return-content{
	position: absolute;
	margin-left: 56em;


}



/*Catered Advice*/


.catered-advice{
	margin-top: 20px;

}

.catered-advice h3{
	color: #517091;
	font-size: 43px;
	font-weight: 200;


}

.catered-advice h4{
	color: #517091;
	font-size: 20px;
	font-weight: 200;
}

.catered-advice p{
	color:#A9A9A9;
	font-weight: 200;
	font-size: 16px;
}


/*Smarter Automation*/
.smart-automation{
	padding-top: 3%;
	padding-bottom: 3%;

}



.smart-automation h2{
	color: #517091;
	font-size: 30px;
	font-weight: 200;
	text-align: center;
}


.smart-automation img{
	margin-left: 9em;

}

.smart-automation h4{
	text-align: center;
	font-weight: 400;

}

.smart-automation p{
	text-align: center;
	color: #A9A9A9;
	font-weight: 200;
}

/*Device Investing*/

.device-invest{
	background-image: url(../images/background2.png) no-repeat center bottom;
    left: 0;
    width: 100%;
    height: 650px;
    background-size: auto 100%;
}

.device-invest h2{
	color: #517091;
	font-size: 26px;
	font-weight: 300;
	text-align: center;

}







/*Device Colums*/


.device-content h4{
	color: #517091;
	font-size: 26px;
	font-weight: 300;
}

.device-content p{
	color: #A9A9A9;
	font-weight: 200;

}









/*Safe with Betterment*/

.safe-color{
	background-color: #F5F5F5;
	margin-bottom-bottom: 10em;
	padding-bottom: 10%;

}

.safe h3{
	margin-top: 10%;
	font-weight: lighter;
	text-align: center;
	font-size: 38px;


}

.safe p{
	font-size: 20px;
	text-align: center;
	color:#A9A9A9;
	font-weight: lighter;
}




.people{
	margin-left: 20%;
}

.people img{
	border-radius: 50%;
	max-width: 100%;
    height: auto;
}



/*Sign Up*/

.sign-up{
	margin-bottom: 15%;
	margin-top: 15%;

}

.sign-up h1{
	text-align: center;
	color:#00008B;
	font-weight: lighter;

}

.sign-up button {
	margin-left: 50em;
	width:150px;
	background-color: #DA5621;
	margin-top: 3em;

}



/*Questions? Live Chat*/

.bottom-section{
	background-color: #0D3866;
	color:#DCDCDC;
}


.support{
	background-color: #0C325B;
	padding-top: 2em;
	height:50px;
	width: 100%;


}






/*Footer About US*/

.about-footer{
	margin-top: 2em;
}

.about-footer h5{
	text-align: center;


}



.about-footer li{
	list-style-type: none;
	text-decoration: none;
	color:#DCDCDC;

}







/*Footer Social Media*/

.footer-socialmedia{
	margin-top: 8%;
	margin-bottom: 8%;


}

.back-to-top{
	margin-top: 2em;
}





/*FOOTER SMALL PRINT*/
.small-print p{
	font-size: 11px;



}




/*APP-STORE*/
.app-section{
	background-color: #0D3866;

}

.app-store{
	text-align: center;

}


























/*Questions?/Live Chat*/


.email{
	font-size: 10px;
}






/*FOOTER ABOUT US*/
.about-footer{
	margin-left: 13%;

}






/*FOOTER SOCIAL MEDIA */

.footer-socialmedia{
	margin-left: 20%;
}


.social-media{
	margin-left: -43%;
}

.social-media li{
	list-style-type: none;
	text-align: inline;
	display: inline
}

.holdings{
	margin-right: 20px;
}

.back-to-top{
	margin-left: -2%;

}

/*FOOTER SMALL PRINT*/

.small-print{
	margin-left: 13%;
}




/*APP STORE*/

.app-store li{
	list-style-type: none;
	text-align: inline;
	display: inline
}
